<div class="container-fluid data-interval = 2000" id = 8>
    <h1>Your Most Watched Channels Were:</h1>
    <div class ="container">
        <div class = "row">
            <div class = "col-sm">
                <h3>1. {{channel1}}</h3>
            </div>
            <div class = "col-sm">
                
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm">
                <h3>2. {{channel2}}</h3>
            </div>
            <div class = "col-sm">
                
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm">
                <h3>3. {{channel3}}</h3>
            </div>
            <div class = "col-sm">
                
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm">
                <h3>4. {{channel4}}</h3>
            </div>
            <div class = "col-sm">
                
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm">
                <h3>5. {{channel5}}</h3>
            </div>
            <div class = "col-sm">
                
            </div>
        </div>
    </div>
    <div class = "row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4 text-center">
        </div>
        <div class="col-lg-4 text-center">
            <a href="/videos">
            <button type = "button" class="btn btn-lg btn-block" id = "cssBtn">See Most Watched Videos</button>
            </a>
        </div>
    </div>




</div>